<!DOCTYPE html>
<html>
  <head>
    <title>Members Only</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


 
    <% if (user) { %>
      <h1>WELCOME BACK <%= user.firstName %></h1>
      <form action="/log_out?_method=DELETE" method="post">
        <button type="submit">Log out</button>
      </form>
    <% } %>
  
    <h1>Members Only</h1>
    <p>Welcome to Members Only</p>
  
    <button>
    <a href="/create_user" style="text-decoration: none; color: black" >Sign up</a>
    </button>

    <button>
    <a href="/user_login" style="text-decoration: none; color: black">Login</a>
    </button>
    
    <% if (user) { %>
      <button>
        <a href="/new_message" style="text-decoration: none; color: black">Make a post</a>
      </button>
      <button>
      <a href="/join_club" style="text-decoration: none; color: black">Become a member</a>
    </button>
    <% } %>
  
    <h3>Messages:</h3>
  
    <% messages.forEach(message => { %>
      <% if (user && user.membershipStatus === 'Member') { %> 
        <h3><%= message.author %></h3>
        <p><%= message.date %></p>

        

        <% if (user && user.admin === true) { %> 
          <h3><%= message.title %></h3>
          <p><%= message.text %></p>
          <form action="/delete_post/<%= message._id %>?_method=DELETE" method="post"> 
            <button type="submit">Delete</button>
          </form>
        <% } %>



      <% } else { %> 
        <h3><%= message.title %></h3>
        <p><%= message.text %></p>


        <% if (user && user.admin === true) { %> 
          <h3><%= message.author %></h3>
          <p><%= message.date %></p>
          <form action="/delete_post/<%= message._id %>?_method=DELETE" method="post"> 
            <button type="submit">Delete</button>
          </form>
        <% } %>


      <% } %> 
    <% }) %> 

   


  </body>
</html>
